{%block payment%}
{% for membership in memberships%}
<div id="{{membership.id}}-form" class="payment-cont">
    <div class="payment-cont-inner">
        <h1>{{membership.name}}</h1>

        <form method="post" id="form-{{membership.id}}">
            {% csrf_token %}
            <input type="hidden" name="membership_id" value="{{ membership.id }}">

            <h2>payment method</h2>
            <div>
                {%for method in payment_options%}
                <label>
                    <input type="radio" name="method-{{membership.id}}" value="{{method.0}}" onchange="changePaymentForm()" required>
                    {{method.1}}
                </label>
                {%endfor%}
            </div>


            <h2>how many months?</h2>
            <div>
                {%for price in membership.prices.items%}
                <label>
                    <input type="radio" name="option-{{membership.id }}" value="{{price.0}}:{{price.1}}" onchange="changePrice()" required>
                    {{price.0}}: {{price.1}} pln
                </label>
                {%endfor%}
            </div>


            <div id="payment-method-form-{{membership.id}}" class='method-form-inputs'></div>

            <button type="submit" id="confirm-button-{{membership.id}}" onclick="confirmPayment(event, {{membership.id}})" hidden>confirm payment</button>
        </form>
    </div>

</div>


{%endfor%}
{%endblock%}
