/*header{*/
/*    width: 100%;*/
/*    height: 10vh;*/
/*    background: #E3DBDB;*/
/*    padding: 0 10px;*/
/*    box-sizing: border-box;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    border-radius: 2px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*header img{*/
/*    height: 100%;*/
/*}*/

/*a:visited {*/
/*    color: black;*/
/*}*/

/*a:hover{*/
/*    cursor: pointer;*/
/*}*/

/*a{*/
/*    text-decoration: none;*/
/*    border: 1px solid black;*/
/*}*/

/*.button-normal{*/
/*    background-color: pink;*/
/*}*/

/*.button-locked{*/
/*    background-color:grey;*/
/*}*/

/*.button-done{*/
/*    background-color: mediumpurple;*/
/*}*/

/*#nav-container{*/
/*    justify-self: center;*/
/*    align-self: center;*/
/*}*/

/*#nav-container a{*/
/*    color: black;*/
/*    margin: 0 20px;*/
/*    font-size: large;*/
/*    font-weight: 800;*/
/*    transition: color 0.3s ease;*/
/*    text-decoration: none;*/
/*}*/

/*#nav-container a:hover{*/
/*    color: #795663;*/
/*}*/

/*#login-container{*/
/*    justify-self: end;*/
/*    align-self: center;*/
/*    font-weight: 600;*/
/*    height: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*#login-container a{*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    background: whitesmoke;*/
/*    border: 2px solid whitesmoke;*/
/*    border-radius: 10px;*/
/*    transition: background-color 0.3s ease;*/
/*    margin: 0 0 0 10px;*/
/*    padding: 0 10px;*/
/*    font-family: inherit;*/
/*    font-size: large;*/
/*    text-decoration: none;*/
/*}*/

/*#login-container a:hover{*/
/*    background-color: #E3DBDB;*/
/*}*/

/*body{*/
/*    font-family: "Raleway", serif;*/
/*    font-optical-sizing: auto;*/
/*    font-style: normal;*/
/*    margin: 10px;*/
/*    background: #795663;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*main{*/
/*    background-color: #E3DBDB;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 10px 0;*/
/*}*/

body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-custom-header{
    background-color: #795663;

}

.bg-custom-main{
    background-color: whitesmoke;
}

header a{
    font-weight: 600 !important;
}

a.btn:active{
    box-shadow: none !important;
}

#menu .btn:hover, .btn:active{
    box-shadow: 0 0 0 2px black;
}

