body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #795663;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw 0.5vw;
}

header{
    width: 100%;
    background: #E3DBDB;
    height: 8vh;
    padding: 0 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2rem;
    margin-bottom: 2vh;
}

/*a:visited {*/
/*    color: black !important;*/
/*}*/

a:hover{
    cursor: pointer;
}

a:active{
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

.button-normal{
    background-color: pink;
}

.button-locked{
    background-color:grey;
}

.button-done{
    background-color: mediumpurple;
}

#nav-container a{
    color: black;
    margin: 0 20px;
    font-size: large;
    font-weight: 800;
    transition: color 0.3s ease;
    text-decoration: none;
}

#nav-container a:hover{
    color: #5F7367;
}

#logo-container{
    width: 25%;
}

#login-container{
    width: 25%;
    font-weight: 600;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#login-container a{
    height: 100%;
    display: flex;
    align-items: center;
    background: whitesmoke;
    border: 0.2rem solid whitesmoke;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 0 0 3%;
    padding: 0 0.6vw;
    font-size: large;
}

#login-container a:hover{
    background-color: #5F7367;
    color: whitesmoke;
}

main{
    background-color: #E3DBDB;
    width: 100%;
    border-radius: 0.2rem;
}






/* coaches page */

#coaches-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coaches-page h1{
    font-size: 3.5rem;
    margin-bottom: 6vh;
}

#all-coaches-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coach-container{
    width: 30%;
    display: grid;
    grid-template-columns: auto 15vh;
    grid-template-rows: 15vh auto;
    column-gap: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.coach-paragraphs-cont{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.coach-paragraphs-cont a{
    align-items: center;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.2vh 0.5vw;
}

.coach-paragraphs-cont a:hover{
    background-color: #5F7367;
    color: whitesmoke;
}

.coach-paragraphs-cont p{
    margin: 0;
    height: 100%;
}

.coach-container img{
    grid-area: span 1;
    height: 100%;
    border-radius: 0.3rem;
}

.coaches-all-description{
    grid-area: 2 / 1 / 3 / 3;
}






/*schedule*/

#schedule-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
    text-align: center;
}

#schedule-container h1{
    font-size: 3rem;

}

#schedule-table{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 95%;
    font-size: 1.5rem;
}

.schedule-row h2{
    font-size: 1.9rem;
    font-weight: 500;
}

.schedule-row p{
    margin: 0rem;
}

.schedule-workout{
    margin-bottom: 1rem;
}

.schedule-workout a{
    transition: color 0.3s ease;
    font-weight: 500;
}

.schedule-workout a:hover{
    color: #5F7367;
}




/*offer*/

#memberships-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

#memberships-page h1{
    font-size: 3rem;
}

#membership-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#membership-options h2{
    margin: 0 0 1rem 0;
}

#membership-options p{
    margin: 0;
}

#membership-options form{
    border-radius: 0.5rem;
    background-color: #5F7367;
    color: #E3DBDB;
    padding: 0.7rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#membership-options form a{
    color: #E3DBDB;
    transition: color 0.3s ease;
    font-size: 1.3rem;
    font-weight: 600;
    justify-self: end;
}

#membership-options form a:hover{
    color: black;
}

#membership-options ul{
    list-style-type: circle;
    font-size: 1.3rem;
    padding-left: 1.3rem;
}




/*user info*/

#user-info-cont{
    display: flex;
}

#user-info-cont h1{
    font-weight: 600;
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
}

#user-info-cont img{
    margin-right: 1rem;
    width: 50%;
    border-radius: 1.5%;
}

#user-info-par{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

#user-info-par a{
    background: whitesmoke;
    border: 0.2rem solid whitesmoke;
    border-radius: 0.6rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

#user-info-cont a:hover{
    background-color: #5F7367;
    color: whitesmoke;
}




/*profile*/

#profile-cont{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#profile-info{
    display: flex;
    align-items: flex-start;
}

#profile-workouts{
    flex-grow: 1;
}

#profile-membership{
    flex-grow: 1;
}

.profile-info-cont{
    background-color: #5F7367;
    color: #E3DBDB;
    margin: 0.7rem;
    padding: 0.2rem 0.5rem 1rem 0.5rem;
    border-radius: 0.2rem;
}

#profile-info-cont-coach{
    justify-self: end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.workout-buttons{
    margin-bottom: 1rem;
}

.workout-buttons a{
    margin-right: 0.5rem;
}

#profile-info-cont-coach h2{
    margin-bottom: 0.5rem;
}

.profile-info-cont h2{
    margin: 0.2rem 0 0 0;
    font-size: 2rem;
}

.profile-info-cont h3{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.profile-info-cont a{
    color: #E3DBDB;
    transition: color 0.3s ease;
    font-weight: 600;
    font-size: 1.3rem;
}

.profile-info-cont a:hover{
    color: black;
}








/*forms*/

.form-container{
    display: flex;
    justify-content: center;
    padding: 3vh 0;
}

.form-horizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.form-horizontal h1{
    margin: 0 0 4vh 0;
    font-size: 3rem;
    font-weight: 600;
}

.form-horizontal label{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.8vh;
}

.form-horizontal input{
    margin-bottom: 1.5vh;
    width: 40%;
    background: whitesmoke;
    border: 0.2rem solid whitesmoke;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    padding: 0.2rem;
}

textarea, select{
    background: whitesmoke;
    border: 0.2rem solid whitesmoke;
    border-radius: 0.3rem;
}

select{
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.form-horizontal input:focus, textarea:focus{
    outline: none;
}

.form-horizontal input[type='submit']{
    margin: 0.8vh 0;
    width: auto;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.3rem 0.5rem;
}

.form-horizontal input[type='submit']:hover{
    background-color: #5F7367;
    color: whitesmoke;
    cursor: pointer;
}

#id_gender{
    width: 40%;
    margin-bottom: 1vh;
}

#id_profile_picture{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

#id_description{
    font: 500 1.5rem "Raleway", serif;
    margin-bottom: 1vh;
}

input[type='time']{
    font: 500 1.5rem "Raleway", serif;
}

input[type='submit']{
    margin-top: 3vh !important;
}


