body{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #795663;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw 0.5vw;
}

header{
    width: 100%;
    background: #E3DBDB;
    height: 8vh;
    padding: 0 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 20px;
}

/*a:visited {*/
/*    color: black !important;*/
/*}*/

a:hover{
    cursor: pointer;
}

a:active{
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

.button-normal{
    background-color: pink;
}

.button-locked{
    background-color:grey;
}

.button-done{
    background-color: mediumpurple;
}

#nav-container a{
    color: black;
    margin: 0 20px;
    font-size: large;
    font-weight: 800;
    transition: color 0.3s ease;
    text-decoration: none;
}

#nav-container a:hover{
    color: #795663;
}

#logo-container{
    width: 25%;
}

#login-container{
    width: 25%;
    font-weight: 600;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#login-container a{
    height: 100%;
    display: flex;
    align-items: center;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 0 0 0 10px;
    padding: 0 10px;
    font-size: large;
}

#login-container a:hover{
    background-color: #E3DBDB;
}

main{
    background-color: #E3DBDB;
    width: 100%;
}

#coaches-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coaches-page h1{
    font-size: 3.5rem;
    margin-bottom: 6vh;
}

#all-coaches-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coach-container{
    width: 30%;
    height: 30%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 1rem;
    font-size: 1.3rem;
}

.coach-paragraphs-cont{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.coach-paragraphs-cont a{
    align-items: center;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding: 0.2vh 0.5vw;
}

.coach-paragraphs-cont a:hover{
    background-color: #E3DBDB;
}

.coach-paragraphs-cont p{
    margin: 0;
    height: 100%;
}

.coach-container img{
    grid-area: span 1;
    width: 100%;
    border-radius: 0.3rem;
}

.coaches-all-description{
    grid-area: 2 / 1 / 3 / 3;
}




