{% extends 'core/index.html' %}
{% block content %}

<div id="workout-details-cont">
    <div id="workout-details-info">
        <h1>{{workout.name}}</h1>
        <a href="{% url 'users:coach_info' workout.coach.id %}">
        <h2>{{workout.coach.first_name}} {{workout.coach.last_name}}</h2>
        </a>
        <p>target: {{workout.target}} </p>
        <p>difficulty: {{workout.difficulty}} </p>
        <p>{{workout.day}} {{workout.start_time|date:"h:i a"}}-{{workout.start_time|date:"h:i a"}}</p>

        {%load workout_tags%}
        {% if request.user.is_authenticated%}
            {%get_workout_button request.user workout as button%}
            <a class="{{button.class}}" href="{{button.url}}">{{button.name}}</a>
        {%endif%}
    </div>

    <p id="workout-details-desc">{{workout.description}} </p>

    {% if request.user == workout.coach %}
    <div id="workout-participants">
        <h3>Participants</h3>
        {% for participant in workout.client.all%}
        <div class="participant-cont">
            <p>{{participant.first_name}} {{participant.last_name}}</p>
            <a href="{% url 'workout:remove_client'%}?workout_id={{workout.id}}&client_id={{participant.id}}">remove</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}