{% extends 'core/index.html' %}
{% block content %}

{{workout.name}}

<a href="{% url 'users:coach_info' workout.coach.id %}">
    {{workout.coach.first_name}}
    {{workout.coach.last_name}}
</a>

{% if request.user.is_coach %}
<a>edit</a>
<!--dodaj link-->
{% endif %}


<p>{{workout.description}} </p>
<p>{{workout.target}} </p>
<p>{{workout.difficulty}} </p>
<p>{{workout.day}} </p>
<p>{{workout.start_time}} </p>
<p>{{workout.end_time}} </p>


{% if request.user.is_coach %}
{% for participant in workout.client.all%}
<p>{{participant.username}}</p>
<a href="{% url 'workout:remove_client'%}?workout_id={{workout.id}}&client_id={{participant.id}}">remove</a>
{% endfor %}
{% endif %}

{% if not request.user.is_coach%}
<a class="{% if request.user.client.membership == null %} button-locked {% elif request.user in workout.client.all %} button-done {% elif workout.max_participants > workout.client.all|length %} button-normal {% else %} button-locked {% endif %}"
                       href="{% url 'workout:join_workout' %}?workout_id={{ workout.id }}"> join </a>
{% endif %}


{% endblock %}