{% extends 'core/index.html' %}
{% block content %}
<div id="schedule-container">
    <h1> schedule </h1>
    <div id="schedule-table">
        {% for day in weekdays %}
            <div class="schedule-row">
                <h2> {{ day.0 }}</h2>
                {% for workout in workouts %}
                    {% if workout.day == day.0 %}
                    <div class="schedule-workout">
                        <p>{{workout.start_time|date:"h:i a"}}</p>
                        <a href="{% url 'workout:details_workout' workout.id%}" ><p>{{ workout.name }}</p></a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
