{% extends 'core/index.html' %}
{% block content %}
<h1> schedule </h1>
{% for day in weekdays %}
    <div>
        <p> {{ day.0 }}</p>
        {% for workout in workouts %}
            {% if workout.day == day.0 %}

                <p>{{ workout.name }}</p>

                {% if request.user.is_authenticated and not request.user.is_coach%}
                    <a href="{% url 'workout:join_workout' %}?workout_id={{ workout.id }}"> join </a>
                {% endif %}

            {% endif %}

        {% endfor %}
    </div>
{% endfor %}
{% endblock %}
