<header id="header" style="height: 50px" class="d-flex justify-content-between align-items-center bg-custom-header ps-5 pe-5 vh-50 rounded-1">
  <div style="width: 30%; height: 100%">
    <a href="/">
    {% load static %}
    <img style="height: 100%" id="header-img" src="{% static 'logo.png' %}" alt="logo">
    </a>
  </div>
  <div>
    <a class="btn btn-light" role="button" href="{% url 'users:coaches' %}">coaches</a>
    <a class="btn btn-light" role="button" href="{% url 'workout:schedule' %}">workouts</a>
    <a class="btn btn-light" role="button" href="{% url 'memberships:show_memberships' %}">offer</a>
    <a class="btn btn-light" role="button">contact</a>
  </div>
  <div style="width: 30%; display: flex; justify-content: flex-end">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-light" role="button" href="{% url 'users:logout' %}">logout</a>
    <a class="btn btn-outline-light" role="button" href="{% url 'users:current_profile' %}">profile</a>
    {% else %}
    <a class="btn btn-outline-light" role="button" href="{% url 'users:login' %}">login</a>
    <a class="btn btn-outline-light" role="button" href="{% url 'users:register' %}">register</a>
    {% endif %}
  </div>
</header>

