<header>
  <div id="logo-container" style="height: 100%">
    <a href="/">
      {% load static %}
      <img style="height: 100%" src="{% static 'logo.png' %}" alt="logo" >
    </a>
  </div>

  <div id="nav-container">
    <a href="{% url 'users:coaches' %}">coaches</a>
    <a href="{% url 'workout:schedule' %}">workouts</a>
    <a href="{% url 'memberships:show_memberships' %}">offer</a>
  </div>

  <div id="login-container">
    {% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}">logout</a>
    <a href="{% url 'users:current_profile' %}">profile</a>
    {% else %}
    <a href="{% url 'users:login' %}">login</a>
    <a href="{% url 'users:register' %}">register</a>
    {% endif %}
  </div>
</header>

