{% extends 'core/index.html' %}
{% block content %}

{%include 'users/user_info.html'%}
{%block user_info%}
{%endblock%}

<h2>my workouts:</h2>
{% for workout in workouts %}
<h3>{{ workout.name }}</h3>
<a href="{% url 'workout:leave_workout'%}?workout_id={{workout.id}}">leave</a>
{% endfor %}

<br>
<h1>membership: </h1>
{% if user.client.membership is not None %}
<p>{{user.client.membership.name}}</p>
<a href="{% url 'memberships:cancel_membership' %}" >cancel membership</a>
{% else %}
<p>no active membership</p>
{% endif %}


{% endblock %}